researchflow-production-main/infrastructure/n8n/workflows/docker-deployment-pipeline.json
{
  "name": "Docker Deployment Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docker-deployment-pipeline",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "docker-deployment"
    },
    {
      "parameters": {
        "url": "={{$env.ORCHESTRATOR_URL}}/api/docker/deploy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.ROS_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "repository",
              "value": "={{$json[\"repository\"][\"repo_name\"]}}"
            },
            {
              "name": "tag",
              "value": "={{$json[\"push_data\"][\"tag\"]}}"
            },
            {
              "name": "pusher",
              "value": "={{$json[\"push_data\"][\"pusher\"]}}"
            },
            {
              "name": "pushed_at",
              "value": "={{$json[\"push_data\"][\"pushed_at\"]}}"
            }
          ]
        }
      },
      "name": "Trigger Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [470, 300]
    },
    {
      "parameters": {
        "channel": "={{$env.SLACK_DEPLOYMENT_CHANNEL}}",
        "text": "🚀 Deployment started",
        "attachments": [
          {
            "color": "#3B82F6",
            "title": "={{$json[\"repository\"][\"repo_name\"]}}:={{$json[\"push_data\"][\"tag\"]}}",
            "fields": [
              {
                "title": "Pusher",
                "value": "={{$json[\"push_data\"][\"pusher\"]}}",
                "short": true
              },
              {
                "title": "Status",
                "value": "In Progress",
                "short": true
              }
            ]
          }
        ]
      },
      "name": "Notify Start",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [690, 300],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "databaseId": "={{$env.NOTION_DEPLOYMENT_DB_ID}}",
        "title": "Deployment: ={{$json[\"repository\"][\"repo_name\"]}}:={{$json[\"push_data\"][\"tag\"]}}",
        "properties": {
          "properties": [
            {
              "key": "Status",
              "status": "success"
            },
            {
              "key": "Environment",
              "select": "production"
            },
            {
              "key": "Version",
              "textContent": "={{$json[\"push_data\"][\"tag\"]}}"
            },
            {
              "key": "Deployed By",
              "textContent": "={{$json[\"push_data\"][\"pusher\"]}}"
            }
          ]
        }
      },
      "name": "Log to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [910, 300],
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "channel": "={{$env.SLACK_DEPLOYMENT_CHANNEL}}",
        "text": "✅ Deployment completed successfully",
        "attachments": [
          {
            "color": "#10B981",
            "title": "={{$json[\"repository\"][\"repo_name\"]}}:={{$json[\"push_data\"][\"tag\"]}}",
            "fields": [
              {
                "title": "Status",
                "value": "Completed",
                "short": true
              }
            ]
          }
        ]
      },
      "name": "Notify Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1130, 300],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"state\": \"success\" } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Trigger Deployment", "type": "main", "index": 0}]]
    },
    "Trigger Deployment": {
      "main": [[{"node": "Notify Start", "type": "main", "index": 0}]]
    },
    "Notify Start": {
      "main": [[{"node": "Log to Notion", "type": "main", "index": 0}]]
    },
    "Log to Notion": {
      "main": [[{"node": "Notify Success", "type": "main", "index": 0}]]
    },
    "Notify Success": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {},
  "id": "docker-deployment-pipeline"
}
